.comments-container {
	position:		absolute;
	z-index:		0;
	left:			0;
	top:			0;
	background:		rgba(0, 0, 0, 0.2);
	display:		none;
}
.comments-canvas {
	position:		absolute;
	z-index:		1;
	left:			0;
	top:			0;
	right:			0;
	bottom:			0;
	display:		block;
}
.comments-innerLayer {
	position:		absolute;
	z-index:		2;
	left:			0;
	top:			0;
	right:			0;
	bottom:			0;
	cursor:			crosshair;
}
.comment {
	position:		absolute;
	background:		#ffc346;
	width:			200px;
	box-shadow:		0 0 3px black;
	border-radius:	3px;
	padding:		5px;
	cursor:			pointer;
}
.comment header {
	overflow:		hidden;
	cursor:			move;
}
.comment header h4 {
	margin:			0;
	margin-bottom:	3px;
	font-size:		11px;
	font-weight:	bold;
	float:			left;
}
.comment header small {
	padding-top:	2px;
	font-size:		9px;
	float:			right;
}
.comment article {
	border-top:		1px black solid;
	padding-top:	3px;
	padding-left:	5px;
	font-size:		15px;
	width:			195px;
}

/* jQuery UI dialog on creating a new comment */
.ui-dialog {
	width:			300px;
	background:		white;
	padding:		5px;
	border-radius:	3px;
	overflow:		hidden;
	box-shadow:		0 0 5px black;
}
.ui-dialog-titlebar {
	cursor:			move;
	background:		lightgray;
	border:			1px gray solid;
	border-radius:	3px;
	padding:		5px;
	margin-bottom:	10px;
}
.ui-dialog-titlebar-close {
	display:		none;
}
.ui-dialog-buttonpane {
	clear:			both;
	padding:		5px;
	padding-top:	10px;
}

/* the color-chooser */
.comments-modal h4 {
	margin-bottom:	10px;
}
.comment-add-colorchooser {
	display:		block;
	overflow:		hidden;
	float:			left;
}
.comment-add-colorchooser div {
	width:			38px;
	height:			20px;
	margin:			6px;
}
.comment-add-colorchooser:last-child div {
	margin-right:	0;
}
.comment-add-colorchooser input {
	position:		absolute;
	top:			-100px;
}
.comment-add-colorchooser input:checked + div {
	border:			1px black solid;
	box-shadow:		0 0 3px black;
	margin:			5px;
}

textarea, input[type=text] {
	display:		block;
	width:			290px;
	font-size:		12px;
	font-family:	sans-serif;
	margin-right:	10px;
	border:			1px black solid;
	resize:			none;
}
input[type=text] {
	width:			294px;
	margin-bottom:	5px;
}
textarea {
	height:			50px;
}
button {
	margin-right:	5px;
}