#comments_layer {
	position:		fixed;
	left:			0;
	top:			0;
	right:			0;
	bottom:			0;
	background:		rgba(0, 0, 0, 0.2);
}
.comments_canvas {
	display:		block;
	position:		absolute;
	left:			0;
	top:			0;
	right:			0;
	bottom:			0;
	z-index:		-1;
}
#comments_innerlayer {
	position:		absolute;
	left:			0;
	top:			0;
	right:			0;
	bottom:			0;
	z-index:		1;
	cursor:			crosshair;
}
#comment_close {
	position:		absolute;
	top:			3px;
	left:			3px;
	z-index:		100;
}
.comment {
	display:		none;
	background:		#ffc346;
	width:			200px;
	position:		absolute;
	box-shadow:		0 0 3px black;
	cursor:			move;
}